<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>孟州射阳村镇银行</title>
    <head th:include="import::head">

        <head>
            <link rel="stylesheet" href="/css/editormd.min.css">
            <link rel="stylesheet" href="/css/editormd.preview.min.css">
            <script src="/js/editormd.min.js" type="application/javascript"></script>
            <script src="/js/moment.js" type="application/javascript"></script>
            <script src="/js/lib/marked.min.js"></script>
            <script src="/js/lib/prettify.min.js"></script>
        </head>
    </head>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:include="navigation::nav">
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 新闻列表</h3>
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a href="/?sort=new">最新</a>
                </li>
                <li role="presentation">
                    <a href="/?sort=hot30">30天最热</a>
                </li>
                <li role="presentation">
                    <a href="/?sort=hot7">7天最热</a>
                </li>
                <li role="presentation">
                    <a href="/?sort=hot">最热</a>
                </li>
                <li role="presentation">
                    <a href="/?sort=no" class="red">消灭零回复</a>
                </li>
            </ul>
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body" >
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}">测试提问123</a>
                    </h4>
                    <span class="text-desc"><span th:text="${question.commentCount}">2</span> 个回复 • <span
                            th:text="${question.viewCount}">44</span> 次浏览 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}">2020-04-09 15:27</span></span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page='1',search='',tag='',sort='')}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page-1},search='',tag='',sort='')}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:class="${pagination.page==page}?'active':''" th:each="page:${pagination.pages}">
                        <a th:href="@{/(page=${page},search='',tag='',sort='')}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page+1},search='',tag='',sort='')}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search='',tag='',sort='')}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <div>
                    <!--码问官方公众号-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                        <h4>官方微信</h4>
                        <img class="img-thumbnail question-wechat" src="/images/official-account.png">
                    </div>
                </div>
            </div>
            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>热门标签</h4>
                <a href="/?page=1&amp;search=&amp;tag=java&amp;sort="
                   class="community-tag">java</a><a href="/?page=1&amp;search=&amp;tag=javascript&amp;sort="
                                                    class="community-tag">javascript</a><a
                    href="/?page=1&amp;search=&amp;tag=spring&amp;sort="
                    class="community-tag">spring</a><a href="/?page=1&amp;search=&amp;tag=html&amp;sort="
                                                       class="community-tag">html</a><a
                    href="/?page=1&amp;search=&amp;tag=php&amp;sort="
                    class="community-tag">php</a><a href="/?page=1&amp;search=&amp;tag=mysql&amp;sort="
                                                    class="community-tag">mysql</a><a
                    href="/?page=1&amp;search=&amp;tag=css&amp;sort="
                    class="community-tag">css</a><a href="/?page=1&amp;search=&amp;tag=html5&amp;sort="
                                                    class="community-tag">html5</a><a
                    href="/?page=1&amp;search=&amp;tag=github&amp;sort="
                    class="community-tag">github</a><a href="/?page=1&amp;search=&amp;tag=linux&amp;sort="
                                                       class="community-tag">linux</a>
            </div>
            <div>
                <div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                        <a href="http://www.mawen.co/question/261" onclick="clickSide(&quot;UCloud&quot;)"
                           target="_blank">
                            <img class="img-thumbnail question-wechat"
                                 src="http://mawen-cdn.cn-bj.ufileos.com/uhost.png">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div>
</div>
</body>
</html>