<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="nav">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">码问123</span>
                </button>
                <a class="navbar-brand" href="/">码问</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul  class="nav navbar-nav" >
                    <li class="dropdown" th:each="navurl:${navurls}">
                        <a th:text="${navurl.key}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="true">行务信息12345<span class="caret"></span></a>
                        <ul class="dropdown-menu" >
                            <li th:each="urlSub:${navurl.value}">
                                <a th:href="@{${urlSub.url}}" th:text="${urlSub.name}" target="_blank">武陟射阳村镇银行12</a>
                            </li>

                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right" th:if="${session.user!=null}">
                    <li>
                        <a href="/publish">提问</a>
                    </li>
                    <li><a href="/profile/replies">通知 <span class="badge">0</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${session.user == null}">

                    <li><a href="/profile/replies">通知 <span class="badge"></span></a>
                    </li>

                    <li>
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id=${#servletContext.getAttribute('clientId')},redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state='1')}">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>